<<<<<<< HEAD
/*PERSONAL STYLE SHEET*/


/*NORMAL ELEMENTS*/
body{
    background-color: #D6CCC2;
    color: #353535;        
}

h1{
    text-align: center;
    margin-top: 50px;
}

h3{
    margin-top: 50px;
}

td{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    text-align: center;
    margin-top: 100px;
}


/*CLASSES*/
.btn-color{
    color: #fff;
}

.profile-image-pic{
    object-fit: cover;
=======
/* #navbarNavAltMarkup{
    /* position: absolute!important; */
    /* left: 20px!important; */
    /* background-color:#f8f9fa; 
} */

#title{
    margin-left: 5px;
    color: #353535;
    font-size: 25px;
}

#topbar{
    background-color:#f8f9fa;
    border-bottom-color: #D6CCC2;
    border-bottom-style: solid;
    width: 100%;
>>>>>>> c74b2b9689d36f84521e5d743f16ae23bb2a0c43
}

.navbar{
    height: 50px;
}

<<<<<<< HEAD
=======
/* .navbar-collapse{
    background-color:#f8f9fa;
    padding-left: 20px;
    /* padding-bottom: 10px; 
} */

>>>>>>> c74b2b9689d36f84521e5d743f16ae23bb2a0c43
.navbar-nav{
    right: 20px;
}

.nav-item{
    padding-top: 15px;
    color: #353535;    
}
<<<<<<< HEAD
=======
body{
    background-color: #D6CCC2;
    color: #353535;        
}

h1{
    text-align: center;
    margin-top: 50px;
}
>>>>>>> c74b2b9689d36f84521e5d743f16ae23bb2a0c43

.form-box{
    margin-top: 20px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #264653;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 10px;
}

.credentials{
    padding-top: 10px;
    padding-bottom: 10px;
}

.credentials-input{
    margin-bottom: 10px;
}

.col-sm-12, col-md-6{
    text-align: right!important;
}
<<<<<<< HEAD

=======
>>>>>>> c74b2b9689d36f84521e5d743f16ae23bb2a0c43
.col-md-5{
    text-align: left!important;
}

.top-text{
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
}

.top-text-center{
    text-align: center;
}

.top-container{
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

<<<<<<< HEAD
=======
h3{
    margin-top: 50px;
}

>>>>>>> c74b2b9689d36f84521e5d743f16ae23bb2a0c43
.input-group{
    margin-top: 8px;
    border-color: #353535;
}

.form-control{
    border-color: #353535;    
}

.btn{
    background-color: #353535;     
    color: white;
    border-color: #353535;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
    background-color: #8a817c;
    border-color: #353535;
}

<<<<<<< HEAD
=======
#create{
    margin-top: 20px;
    /* text-align: center; */
    /* background-color: #2A9D8F; */
}

#create:hover{
    cursor: pointer;
}

#save{
    position: relative;
}

>>>>>>> c74b2b9689d36f84521e5d743f16ae23bb2a0c43
.list-group-item{
    cursor: pointer;
    background-color: #E9C46A;  
    color: #264653;            
}

.done{
    text-decoration: line-through;
    color: grey;
}

.listholderstyle{
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    text-align: left;
}
<<<<<<< HEAD
=======
/*
#logout-btn{
    position: absolute;
    left: 50%;
}*/

footer{
    text-align: center;
    margin-top: 100px;
}

td{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
>>>>>>> c74b2b9689d36f84521e5d743f16ae23bb2a0c43

.tdprofile{
    padding-left: 30px;
    padding-right: 30px;
}

<<<<<<< HEAD


/*IDs*/
#title{
    margin-left: 5px;
    color: #353535;
    font-size: 25px;
}

#topbar{
    background-color:#f8f9fa;
    border-bottom-color: #D6CCC2;
    border-bottom-style: solid;
    width: 100%;
}

#create{
    margin-top: 20px;
}

#create:hover{
    cursor: pointer;
}

#save{
    position: relative;
}
=======
.darkmode{
    background-color: #264653;  
    color: #E9C46A;
}
>>>>>>> c74b2b9689d36f84521e5d743f16ae23bb2a0c43
