#navbarNavAltMarkup{
    position: absolute!important;
    right: 20px!important;
   
}
.nav-item{
    padding-top: 20px;
}
body{
    background-color: #E9C46A; 
    color: #264653;        
}

h1{
    text-align: center;
    margin-top: 50px;
}

.form-box{
    margin-top: 20px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #264653;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 10px;
}

.credentials{
    padding-top: 10px;
    padding-bottom: 10px;
}

.credentials-input{
    margin-bottom: 10px;
}

.col-sm-12, col-md-6{
    text-align: right!important;
}
.col-md-5{
    text-align: left!important;
}

.top-text{
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
}

.top-text-center{
    text-align: center;
}

.top-container{
    margin-right: 20px;
    margin-left: 20px;
}

.input-group{
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-color: #264653;
}

.form-control{
    border-color: #264653;    
}

.btn{
    background-color: #2A9D8F;     
    color: white;
    border-color: #264653;
}

#create{
    margin-top: 20px;
    text-align: center;
    background-color: #2A9D8F;
}

#create:hover{
    cursor: pointer;
}

#save{
    position: relative;
}

.list-group-item{
    cursor: pointer;
    background-color: #E9C46A;  
    color: #264653;            
}

.done{
    text-decoration: line-through;
    color: grey;
}

.darkmode{
    background-color: #264653;  
    color: #E9C46A;
}

.listholderstyle{
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    text-align: left;
}
/*
#logout-btn{
    position: absolute;
    left: 50%;
}*/

footer{
    text-align: center;
    padding-top: 20px;
}